<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Fullstack Web Development</h1>
            <span><a href="http://learn.co/verified">Learn Verified</a></span>
            <span><address>Remote</address><time>2016</time></span>
        </header>
        <p>
            <em>One-thousand hour fullstack web development curriculum spanning: HTML, CSS, Ruby, Sinatra, Rails, Javascript, Angular, Active Record, Rake, SQL, and Web Scraping</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Introduction to Frontend Development</h1>
            <span><a href="http://www.flatironschool.com">Flatiron School</a></span>
            <span><address>New York, New York</address><time>2015</time></span>
        </header>
        <p>
            <em>Eight-week part-time frontend web development curriculum covering intricacies of HTML, CSS, Bootstrap, and basic Javascript</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in English: Film and Media Studies</h1>
            <span>University of Florida</span>
            <span><address>Gainesville, FL</address><time>Bachelor of Arts -- 2008</time></span>
        </header>
        <p>
            <em>Film Theory and Criticism, Hypermedia</em>
        </p>
    </article>
</section>
