<section class="thirteen columns">
    <h1><Employment</h1>
    <article>
        <header>
            <h1><a href="https://www.linkedin.com/in/johnmwolfe">Writer and Editor</a></h1>
            <span><address>Remote</address><time>June 2009 to January 2016</time></span>
        </header>
        <p>Freelance writer and editor. Projects include grant writing, advertising and marketing copy, webpage content, business copywriting, resumes and portfolios, and editing and proofreading.</p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.inverse.com">Inverse.com</a></h1>
            <span><address>Brooklyn, New York</address><time>July 2015 to January 2016</time></span>
        </header>
        <p>Copy editor for technology-centered Internet publication founded by past members and founders of Bleacher Report. Copy edited 30+/- articles daily from staff writers. Made substantial contributions to the publication's style guide. Inverse's stories have later been featured on the Huffington Post and BoingBong.  </p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.quora.com">Quora.com</a></h1>
            <span><address>Remote</address><time>January 2015 to September 2015</time></span>
        </header>
        <p>Designated which answers were the most effective for questions asked by users for Internet site with 1.5 million monthly unique users.   </p>
    </article>
<!--     <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article> -->
</section>
