<section class="thirteen columns">
    <h1>Volunteer</h1>
    <article>
        <header>
            <h1><a href="http://savingantiquities.org/">SAFE (Saving Antiquities for Everyone)</a></h1>
            <span><address>New York, New York</address><time>January 2015 - November 2015</time></span>
        </header>
        <p>
            Edited blog posts and designed the Style Guide for New York-based non-profit organization devoted to raising awareness about the looting of antiquities throughout the globe.
        </p>
    </article>
    <article>
        <header>
            <h1>Global Leaders Today</h1>
            <span><address>New York, New York</address><time>March 2015 – July 2015</time></span>
        </header>
        <p> Worked directly with United Nations correspondent <a href="http://www.linkedin.com/in/salimay/en">Salima Yacoubi Soussane</a> developing a website and strategy for a non-profit organization dedicated to bringing humanitarian ideas to action. Transcribed and edited interviews conducted with senior United Nations officials and thought leaders. Proofreading and light-editing of news stories, <a href="http://www.theguardian.com/global-development-professionals-network/2015/jul/09/will-the-next-un-secretary-general-be-a-woman">including two later featured in the Guardian.</a>
        </p>
    </article>
</section>